<h1>Cargar producto</h1>

<form method="POST" action="/product/new">
    <div>
        <label for="nombre">Ingrese nombre:</label>
        <input 
            placeholder="tv samsung" 
            id="nombre" 
            name="nombre" 
            value="{{this.data.form_state.nombre.valor}}"
        />
        {{#if this.data.form_state.nombre.error}}
            <span>Error: {{this.data.form_state.nombre.error}}</span>
        {{/if}}
    </div>
    <div>
        <label for="precio">Ingrese precio:</label>
        <input 
            id="precio" 
            name="precio"
            value="{{this.data.form_state.precio.valor}}"
            />
    </div>
    <div>
        <label for="stock">Ingrese stock:</label>
        <input id="stock" name="stock"
            value="{{this.data.form_state.stock.valor}}"
        />
    </div>
    <div>
        <label>Seleccione las categorias de su producto:</label>
        <br>
        <span>Tecnologia</span>
        <input type="checkbox" value="tecnologia" name="categoria" />
        <br>
        <span>Hogar</span>
        <input type="checkbox" value="hogar" name="categoria" />
        <br>
        <span>Office</span>
        <input type="checkbox" value="office" name="categoria" />
        <br>
    </div>
    <div>
        <label for="descripcion">Ingrese descripcion:</label>
        <textarea id="descripcion" name="descripcion"
        value='{{this.data.form_state.descripcion.valor}}'
        ></textarea>
    </div>
    
    <input type="submit" value="Crear producto">
</form>